@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("/css/fonts.css");

* {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	color: white;
}


body {
	background: rgba(30, 30, 30, 1.0);
	background: linear-gradient(0deg, rgba(30, 30, 30, 1.0), rgba(63, 63, 63, 1.0));
}

.contenair {
	width: 100%;
	min-height: 10vh;
	padding-left: 8%;
	padding-top: 1%;
	padding-right: 8%;
	border-radius: 50px;
	box-sizing: border-box;
	overflow: hidden;
}

.navbar {
	width: 100%;
	display: flex;
	align-items: center;
	height: 100px;
	border-radius: 50px;
	background: linear-gradient(75deg, rgb(0, 147, 37), rgb(0, 255, 153));
	border: 3px solid rgb(255, 255, 255);
}

.logo {
	margin: 30px 0;
}

nav {
	flex: 1;
	text-align: right;
	padding-right: 2%;
}

nav ul li {
	list-style: none;
	display: inline-block;
	margin-right: 30px;
}

.navbut {
	border-radius: 50px;
	background: linear-gradient(75deg, rgb(0, 147, 37), rgb(0, 255, 153));
	width: 120px;
	height: 30px;
	transform: scale(1);
	color: rgb(255, 255, 255);
	border: 3px solid rgb(255, 255, 255);
	transition: all .45s ease-in-out;
	outline: none;
}

.navbut:hover {
	cursor: pointer;
	transform: scale(0.9);
}

.menu {
	width: 25px;
	margin-right: 10%;
	cursor: pointer;
	display: none;
}

#menuList {
	margin-top: -15px;
}

.row {
	padding-top: 3%;
	display: flex;
}

.col-1 {
	position: relative;
	margin-right: 52px;
	width: 45%;
}

.login {
	border-radius: 50px;
	background: linear-gradient(75deg, rgb(0, 147, 37), rgb(0, 255, 153));
	width: 208px;
	height: 55px;
	color: rgb(255, 255, 255);
	border: 3px solid rgb(255, 255, 255);
	outline: none;
	font-size: 20px;
	transform: scale(1);
	margin-top: 25px;
	transition: all .15s linear;
}

.login:hover {
	transform: scale(.9);
	cursor: pointer;
}

.col-2 {
	position: relative;
	margin-left: 52px;
	width: 45%;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.mainLogo {
	width: 450px;
	height: 450px;
}

.rectangle {
	background: linear-gradient(75deg, rgb(0, 147, 37), rgb(0, 255, 153));
	color: rgb(255, 255, 255);
	border: 3px solid rgb(255, 255, 255);
	border-radius: 50px;
	height: 600px;
	align-items: center;
	text-align: center;
	margin-left: 85px;
	justify-content: center;
}

.line {
	width: 100%;
	height: 2px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: rgb(255, 255, 255);
}

.logo {
	transform: scale(1);
	transition: all .15s linear;
}

.logo:hover {
	transform: scale(.9);
	cursor: pointer;
}

.about-1 {
	padding-top: 3%;
	display: flex;
}

#funs {
	position: relative;
	margin-left: 52px;
	width: 45%;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.learn-more {
	border-radius: 50px;
	background: linear-gradient(75deg, rgb(0, 147, 37), rgb(0, 255, 153));
	width: 208px;
	height: 55px;
	color: rgb(255, 255, 255);
	border: 3px solid rgb(255, 255, 255);
	outline: none;
	font-size: 20px;
	transform: scale(1);
	margin-top: 25px;
	transition: all .15s linear;
}

.learn-more:hover {
	transform: scale(.9);
	cursor: pointer;
}

.Funs-img {
	width: 45%;
	border-radius: 25px;
}

#funs-images {
	position: relative;
	margin-right: 52px;
	width: 45%;
}

#mods-image {
	position: relative;
	margin-left: 250px;
	width: 45%;
}

.mods-img {
	border-radius: 25px;
}

.footer {
	width: 100%;
	background: linear-gradient(75deg, rgb(0, 147, 37), rgb(0, 255, 153));
	text-align: center;
	justify-content: center;
	align-items: center;
}

.guild {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.guilds_list {
	list-style: none;
	padding: 0px;
	margin: 0px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
}

.guild div {
	background: linear-gradient(75deg, rgb(0, 147, 37), rgb(0, 255, 153));
    border-radius: 50px;
	list-style: none;
	border: 3px solid rgb(255, 255, 255);
	outline: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	transition: all .15s linear;
}

.guildss {
    font-size: 20px;
	margin-right: 10px;
}

.guildsimg {
	border-radius: 100%;
	margin-left: 10px;
	margin-right: 15px;
}

.noserver {
    margin-top: 25px;
}

.back {
    border-radius: 50px;
	background: linear-gradient(75deg, rgb(0, 147, 37), rgb(0, 255, 153));
	width: 208px;
	height: 65px;
	color: rgb(255, 255, 255);
	border: 3px solid rgb(255, 255, 255);
	outline: none;
	font-size: 20px;
	transform: scale(1);
    margin-top: 10px;
	transition: all .15s linear;
}

.back:hover {
    transform: scale(.9);
	cursor: pointer;
}

.guild div:hover {
	cursor: pointer;
	transform: scale(.9);
}

.title {
	margin-top: 25px;
	margin-left: 25px;
}

.current-guild {
	text-align: center;
	margin-bottom: 25px;
}

.avatar {
	border-radius: 100%;
	width: 52px;
	height: 52px;
	border: 3px solid rgb(255, 255, 255);
	margin-left: 25px;
	margin-top: 25px;
}

.main-settings {
	padding-top: 100px;
	padding-bottom: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.main-settings .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.submit {
    border-radius: 50px;
	background: linear-gradient(75deg, rgb(0, 147, 37), rgb(0, 255, 153));
	width: 208px;
	height: 65px;
	color: rgb(255, 255, 255);
	border: 3px solid rgb(255, 255, 255);
	outline: none;
	font-size: 20px;
	transform: scale(1);
    margin-top: 10px;
	transition: all .15s linear;
}

.submit:hover {
    transform: scale(.9);
	cursor: pointer;
}

.messages {
    margin-top: 5%;
	text-align: center;
}

#prefix {
    border-radius: 5px;
    margin-top: 15px;
	margin-bottom: 10px;
}

textarea {
	font-family: "Manrope";
	font-weight: bold;
	color: rgb(0, 0, 0);
    resize: none;
}

.welmessage {
	width: 500px;
	height: 150px;
}

.welchannel {
	font-family: "Manrope";
	font-weight: bold;
	border-radius: 5px;
    margin-top: 15px;
	margin-bottom: 10px;
	color: rgb(0, 0, 0);
}

input {
	font-family: "Manrope";
	font-weight: bold;
	color: rgb(0, 0, 0);
}

option {
	font-family: "Manrope";
	font-weight: bold;
	color: rgb(0, 0, 0);
}

#credits {
	margin-right: 75px;
}

@media only screen and (max-width: 700px) {
	nav ul {
		width: 100%;
		position: absolute;
		top: 100px;
		right: 0;
		z-index: 2;
	}

	nav ul li {
		display: block;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.menu {
		display: block;
	}

	#menuList {
		overflow: hidden;
		transition: 0.5s;
	}

	.row {
		flex-direction: column-reverse;
		margin: 50px 0;
	}

	.col-2 {
		width: 72%;
		flex-basis: 100%;
		margin-bottom: 50px;
	}

	.col-1 {
		width: 80%;
	}

	.col-2 h1 {
		font-size: 25px;
	}

	#funs {
		width: 80%;
		margin-left: 32px;
	}

	.mainLogo {
		width: 120px;
		height: 120px;
	}

	.rectangle {
		margin-right: 25px;
		margin-left: 25px;
		width: 300px;
		border-radius: 25px;
	}

	.Funs-img {
		width: 170%;
	}

	#funs-images {
		position: relative;
		margin-right: 52px;
		width: 45%;
	}
	
	#mods-image {
		position: relative;
		margin-right: 52px;
		width: 30%;
	}

	.mods-img {
		width: 250%;
		margin-left: -190%;
	}

	#Geantworld {
		font-size: 23px;
	}
	
	#change-logs {
		margin-left: -15px;
	}

	#servers {
		margin-left: 35px;
	}

	.welmessage {
		width: 340px;
		height: 150px;
	}
}